/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

@font-face {
    font-family: 'Pixeboy';
    src: url('/assets/fonts/pixeboy.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Pixeboy';
    color: #FFFFFF;
	background: url(/assets/image/background.png) center no-repeat;
	background-size: cover;
	overflow-x: hidden;
}
.main {
	max-width: 1200px;
	margin: 0 auto; 
    overflow-x: hidden;
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
.container {
	position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 113px 0 95px;
}
.header {
    padding-top: 75px;
    margin-bottom: 55px;
}
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    display: flex;
    align-items: end;
    padding-bottom: 30px;
}
.header__logo-img {
    width: 115px;
    height: auto;
    margin-right: 23px;
}
.header__logo-text {
    font-weight: 400;
    font-size: 100px;
    line-height: 62px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    text-shadow: 
		-0   -5px 0   #000000,
		 0   -5px 0   #000000,
		-0    5px 0   #000000,
		 0    5px 0   #000000,
		-5px -0   0   #000000,
		 5px -0   0   #000000,
		-5px  0   0   #000000,
		 5px  0   0   #000000,
		-1px -5px 0   #000000,
		 1px -5px 0   #000000,
		-1px  5px 0   #000000,
		 1px  5px 0   #000000,
		-5px -1px 0   #000000,
		 5px -1px 0   #000000,
		-5px  1px 0   #000000,
		 5px  1px 0   #000000,
		-2px -5px 0   #000000,
		 2px -5px 0   #000000,
		-2px  5px 0   #000000,
		 2px  5px 0   #000000,
		-5px -2px 0   #000000,
		 5px -2px 0   #000000,
		-5px  2px 0   #000000,
		 5px  2px 0   #000000,
		-3px -5px 0   #000000,
		 3px -5px 0   #000000,
		-3px  5px 0   #000000,
		 3px  5px 0   #000000,
		-5px -3px 0   #000000,
		 5px -3px 0   #000000,
		-5px  3px 0   #000000,
		 5px  3px 0   #000000,
		-4px -5px 0   #000000,
		 4px -5px 0   #000000,
		-4px  5px 0   #000000,
		 4px  5px 0   #000000,
		-5px -4px 0   #000000,
		 5px -4px 0   #000000,
		-5px  4px 0   #000000,
		 5px  4px 0   #000000,
		-5px -5px 0   #000000,
		 5px -5px 0   #000000,
		-5px  5px 0   #000000,
		 5px  5px 0   #000000,
		-5px -5px 0   #000000,
		 5px -5px 0   #000000,
		-5px  5px 0   #000000,
		 5px  5px 0   #000000;

}
.header__menu {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.header__menu-item {
    font-size: 35px;
    line-height: 36px;
    padding: 44.5px 12px;
    color: #FFFFFF;
    opacity: 0.75;
    text-shadow: 
		-0   -2px 0   #000000,
		 0   -2px 0   #000000,
		-0    2px 0   #000000,
		 0    2px 0   #000000,
		-2px -0   0   #000000,
		 2px -0   0   #000000,
		-2px  0   0   #000000,
		 2px  0   0   #000000,
		-1px -2px 0   #000000,
		 1px -2px 0   #000000,
		-1px  2px 0   #000000,
		 1px  2px 0   #000000,
		-2px -1px 0   #000000,
		 2px -1px 0   #000000,
		-2px  1px 0   #000000,
		 2px  1px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000;
		 transition: all .1s linear;
}
.header__menu-item:hover {
	opacity: 1;
	animation-name: slidein;
	animation-duration: .2s;
}
.pepe-back {
	cursor: pointer;
}
.pepe-back:hover {
	animation-name: slidein;
	animation-duration: .3s;
}

@keyframes slidein {
	from {
	  transform: translateY(0);
	}
	33% {
		transform: translateY(-10px);
	}
	66% {
		transform: translateY(10px);
	}
	to {
		transform: translateY(0);
	}
  }
  @keyframes slidein1 {
	from {
	  transform: translateY(0);
	}
	32% {
		transform: translateY(0px);
	}
	33% {
		transform: translateY(-10px);
	}
	34% {
		transform: translateY(10px);
	}
	35% {
		transform: translateY(0px);
	}
	to {
		transform: translateY(0);
	}
  }
.header-sub {
    display: inline-block;
    text-align: left;
    font-size: 30px;
    line-height: 31px;
    margin-left: 7px;
    text-shadow: 
		-0   -2px 0   #000000,
		 0   -2px 0   #000000,
		-0    2px 0   #000000,
		 0    2px 0   #000000,
		-2px -0   0   #000000,
		 2px -0   0   #000000,
		-2px  0   0   #000000,
		 2px  0   0   #000000,
		-1px -2px 0   #000000,
		 1px -2px 0   #000000,
		-1px  2px 0   #000000,
		 1px  2px 0   #000000,
		-2px -1px 0   #000000,
		 2px -1px 0   #000000,
		-2px  1px 0   #000000,
		 2px  1px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000;
}
section {
    display: flex;
    margin-bottom: 100px;
}
.hero__left {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.left {
    width: 565px;
}
.right {
	position: relative;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    margin-left: 77px;
}
.hero-text {
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    margin-bottom: 60px;
	margin-right: 50px;
    text-shadow: 
		-0   -1px 0   rgba( 0, 0, 0, 0.75 ),
		 0   -1px 0   rgba( 0, 0, 0, 0.75 ),
		-0    1px 0   rgba( 0, 0, 0, 0.75 ),
		 0    1px 0   rgba( 0, 0, 0, 0.75 ),
		-1px -0   0   rgba( 0, 0, 0, 0.75 ),
		 1px -0   0   rgba( 0, 0, 0, 0.75 ),
		-1px  0   0   rgba( 0, 0, 0, 0.75 ),
		 1px  0   0   rgba( 0, 0, 0, 0.75 ),
		-1px -1px 0   rgba( 0, 0, 0, 0.75 ),
		 1px -1px 0   rgba( 0, 0, 0, 0.75 ),
		-1px  1px 0   rgba( 0, 0, 0, 0.75 ),
		 1px  1px 0   rgba( 0, 0, 0, 0.75 ),
		-1px -1px 0   rgba( 0, 0, 0, 0.75 ),
		 1px -1px 0   rgba( 0, 0, 0, 0.75 ),
		-1px  1px 0   rgba( 0, 0, 0, 0.75 ),
		 1px  1px 0   rgba( 0, 0, 0, 0.75 );
}
.hero-text span {
	text-shadow: 
	-0   -3px 0   #000000,
	 0   -3px 0   #000000,
	-0    3px 0   #000000,
	 0    3px 0   #000000,
	-3px -0   0   #000000,
	 3px -0   0   #000000,
	-3px  0   0   #000000,
	 3px  0   0   #000000,
	-1px -3px 0   #000000,
	 1px -3px 0   #000000,
	-1px  3px 0   #000000,
	 1px  3px 0   #000000,
	-3px -1px 0   #000000,
	 3px -1px 0   #000000,
	-3px  1px 0   #000000,
	 3px  1px 0   #000000,
	-2px -3px 0   #000000,
	 2px -3px 0   #000000,
	-2px  3px 0   #000000,
	 2px  3px 0   #000000,
	-3px -2px 0   #000000,
	 3px -2px 0   #000000,
	-3px  2px 0   #000000,
	 3px  2px 0   #000000,
	-3px -3px 0   #000000,
	 3px -3px 0   #000000,
	-3px  3px 0   #000000,
	 3px  3px 0   #000000,
	-3px -3px 0   #000000,
	 3px -3px 0   #000000,
	-3px  3px 0   #000000,
	 3px  3px 0   #000000;
}
.about-text span {
	text-shadow: 
		-0   -2px 0   #000000,
		 0   -2px 0   #000000,
		-0    2px 0   #000000,
		 0    2px 0   #000000,
		-2px -0   0   #000000,
		 2px -0   0   #000000,
		-2px  0   0   #000000,
		 2px  0   0   #000000,
		-1px -2px 0   #000000,
		 1px -2px 0   #000000,
		-1px  2px 0   #000000,
		 1px  2px 0   #000000,
		-2px -1px 0   #000000,
		 2px -1px 0   #000000,
		-2px  1px 0   #000000,
		 2px  1px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000;
}
.buy {
    font-size: 75px;
    line-height: 77px;
    margin-bottom: 15px;
	display: flex;
	justify-content: center;
	margin-right: 50px;
    text-shadow: 
		-0   -5px 0   #000000,
		 0   -5px 0   #000000,
		-0    5px 0   #000000,
		 0    5px 0   #000000,
		-5px -0   0   #000000,
		 5px -0   0   #000000,
		-5px  0   0   #000000,
		 5px  0   0   #000000,
		-1px -5px 0   #000000,
		 1px -5px 0   #000000,
		-1px  5px 0   #000000,
		 1px  5px 0   #000000,
		-5px -1px 0   #000000,
		 5px -1px 0   #000000,
		-5px  1px 0   #000000,
		 5px  1px 0   #000000,
		-2px -5px 0   #000000,
		 2px -5px 0   #000000,
		-2px  5px 0   #000000,
		 2px  5px 0   #000000,
		-5px -2px 0   #000000,
		 5px -2px 0   #000000,
		-5px  2px 0   #000000,
		 5px  2px 0   #000000,
		-3px -5px 0   #000000,
		 3px -5px 0   #000000,
		-3px  5px 0   #000000,
		 3px  5px 0   #000000,
		-5px -3px 0   #000000,
		 5px -3px 0   #000000,
		-5px  3px 0   #000000,
		 5px  3px 0   #000000,
		-4px -5px 0   #000000,
		 4px -5px 0   #000000,
		-4px  5px 0   #000000,
		 4px  5px 0   #000000,
		-5px -4px 0   #000000,
		 5px -4px 0   #000000,
		-5px  4px 0   #000000,
		 5px  4px 0   #000000,
		-5px -5px 0   #000000,
		 5px -5px 0   #000000,
		-5px  5px 0   #000000,
		 5px  5px 0   #000000,
		-5px -5px 0   #000000,
		 5px -5px 0   #000000,
		-5px  5px 0   #000000,
		 5px  5px 0   #000000;
}
.buy-fomo {
    color: #ffffff;
    opacity: 0.5;
	cursor: pointer;
}
.buy-fomo:hover {
    color: #653072;
}
.link__item {
    font-size: 35px;
    line-height: 36px;
    color: #FFFFFF;
    text-shadow: 
		-0   -2px 0   #000000,
		 0   -2px 0   #000000,
		-0    2px 0   #000000,
		 0    2px 0   #000000,
		-2px -0   0   #000000,
		 2px -0   0   #000000,
		-2px  0   0   #000000,
		 2px  0   0   #000000,
		-1px -2px 0   #000000,
		 1px -2px 0   #000000,
		-1px  2px 0   #000000,
		 1px  2px 0   #000000,
		-2px -1px 0   #000000,
		 2px -1px 0   #000000,
		-2px  1px 0   #000000,
		 2px  1px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000;
		 transition: al .02s linear;
}
.buy {
    display: flex;
}
.buy-item {
    margin-right: 30px;
	color: #FFFFFF;
}
.buy-item:hover {
	color: #653072;
}
.links {
    display: flex;
	justify-content: center;
	margin-right: 50px;
}
.link__item {
    padding: 7px 30px;
}
.pepe {
    display: block;
    width: 291px;
    height: 320px;
    margin: 0 auto;
}
.pepe-1 {
    width: 291px;
    height: 243px;
    margin-top: 144px;
}
.title {
    font-size: 100px;
    line-height: 102px;
    padding: 12px 0;
    text-align: center;
    text-shadow: 
		-0   -5px 0   #000000,
		 0   -5px 0   #000000,
		-0    5px 0   #000000,
		 0    5px 0   #000000,
		-5px -0   0   #000000,
		 5px -0   0   #000000,
		-5px  0   0   #000000,
		 5px  0   0   #000000,
		-1px -5px 0   #000000,
		 1px -5px 0   #000000,
		-1px  5px 0   #000000,
		 1px  5px 0   #000000,
		-5px -1px 0   #000000,
		 5px -1px 0   #000000,
		-5px  1px 0   #000000,
		 5px  1px 0   #000000,
		-2px -5px 0   #000000,
		 2px -5px 0   #000000,
		-2px  5px 0   #000000,
		 2px  5px 0   #000000,
		-5px -2px 0   #000000,
		 5px -2px 0   #000000,
		-5px  2px 0   #000000,
		 5px  2px 0   #000000,
		-3px -5px 0   #000000,
		 3px -5px 0   #000000,
		-3px  5px 0   #000000,
		 3px  5px 0   #000000,
		-5px -3px 0   #000000,
		 5px -3px 0   #000000,
		-5px  3px 0   #000000,
		 5px  3px 0   #000000,
		-4px -5px 0   #000000,
		 4px -5px 0   #000000,
		-4px  5px 0   #000000,
		 4px  5px 0   #000000,
		-5px -4px 0   #000000,
		 5px -4px 0   #000000,
		-5px  4px 0   #000000,
		 5px  4px 0   #000000,
		-5px -5px 0   #000000,
		 5px -5px 0   #000000,
		-5px  5px 0   #000000,
		 5px  5px 0   #000000,
		-5px -5px 0   #000000,
		 5px -5px 0   #000000,
		-5px  5px 0   #000000,
		 5px  5px 0   #000000;
}
.about-text {
    font-size: 30px;
    line-height: 31px;
    text-shadow: 
		-0   -1px 0   rgba( 0, 0, 0, 0.75 ),
		 0   -1px 0   rgba( 0, 0, 0, 0.75 ),
		-0    1px 0   rgba( 0, 0, 0, 0.75 ),
		 0    1px 0   rgba( 0, 0, 0, 0.75 ),
		-1px -0   0   rgba( 0, 0, 0, 0.75 ),
		 1px -0   0   rgba( 0, 0, 0, 0.75 ),
		-1px  0   0   rgba( 0, 0, 0, 0.75 ),
		 1px  0   0   rgba( 0, 0, 0, 0.75 ),
		-1px -1px 0   rgba( 0, 0, 0, 0.75 ),
		 1px -1px 0   rgba( 0, 0, 0, 0.75 ),
		-1px  1px 0   rgba( 0, 0, 0, 0.75 ),
		 1px  1px 0   rgba( 0, 0, 0, 0.75 ),
		-1px -1px 0   rgba( 0, 0, 0, 0.75 ),
		 1px -1px 0   rgba( 0, 0, 0, 0.75 ),
		-1px  1px 0   rgba( 0, 0, 0, 0.75 ),
		 1px  1px 0   rgba( 0, 0, 0, 0.75 );
}
.about-text:not(:last-child) {
    margin-bottom: 40px;
}
.about__right {
    align-items: center;
}


.column-name {
    font-size: 50px;
    line-height: 51px;
    margin-bottom: 40px;
    text-shadow: 
    -0   -2px 0   #000000,
     0   -2px 0   #000000,
    -0    2px 0   #000000,
     0    2px 0   #000000,
    -2px -0   0   #000000,
     2px -0   0   #000000,
    -2px  0   0   #000000,
     2px  0   0   #000000,
    -1px -2px 0   #000000,
     1px -2px 0   #000000,
    -1px  2px 0   #000000,
     1px  2px 0   #000000,
    -2px -1px 0   #000000,
     2px -1px 0   #000000,
    -2px  1px 0   #000000,
     2px  1px 0   #000000,
    -2px -2px 0   #000000,
     2px -2px 0   #000000,
    -2px  2px 0   #000000,
     2px  2px 0   #000000,
    -2px -2px 0   #000000,
     2px -2px 0   #000000,
    -2px  2px 0   #000000,
     2px  2px 0   #000000;
}
.table-item {
    font-size: 30px;
    line-height: 31px;
    text-shadow: 
		-0   -1px 0   rgba( 0, 0, 0, 0.75 ),
		 0   -1px 0   rgba( 0, 0, 0, 0.75 ),
		-0    1px 0   rgba( 0, 0, 0, 0.75 ),
		 0    1px 0   rgba( 0, 0, 0, 0.75 ),
		-1px -0   0   rgba( 0, 0, 0, 0.75 ),
		 1px -0   0   rgba( 0, 0, 0, 0.75 ),
		-1px  0   0   rgba( 0, 0, 0, 0.75 ),
		 1px  0   0   rgba( 0, 0, 0, 0.75 ),
		-1px -1px 0   rgba( 0, 0, 0, 0.75 ),
		 1px -1px 0   rgba( 0, 0, 0, 0.75 ),
		-1px  1px 0   rgba( 0, 0, 0, 0.75 ),
		 1px  1px 0   rgba( 0, 0, 0, 0.75 ),
		-1px -1px 0   rgba( 0, 0, 0, 0.75 ),
		 1px -1px 0   rgba( 0, 0, 0, 0.75 ),
		-1px  1px 0   rgba( 0, 0, 0, 0.75 ),
		 1px  1px 0   rgba( 0, 0, 0, 0.75 );
}
.table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.column {
    padding-bottom: 30px;
}
.contact__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contact__links-item {
    font-size: 35px;
    line-height: 35px;
    padding: 7.5px 0;
    color: #FFFFFF;
    text-shadow: 
		-0   -2px 0   #000000,
		 0   -2px 0   #000000,
		-0    2px 0   #000000,
		 0    2px 0   #000000,
		-2px -0   0   #000000,
		 2px -0   0   #000000,
		-2px  0   0   #000000,
		 2px  0   0   #000000,
		-1px -2px 0   #000000,
		 1px -2px 0   #000000,
		-1px  2px 0   #000000,
		 1px  2px 0   #000000,
		-2px -1px 0   #000000,
		 2px -1px 0   #000000,
		-2px  1px 0   #000000,
		 2px  1px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000;
}
.contact__links-item:last-child {
    margin-top: 60px;
}
.contact__links-item:hover {
	animation-name: hovlink;	
	animation-duration: .2s;
}
@keyframes hovlink {
	from {
	  transform: translateX(0);
	}
	33% {
		transform: translateX(-5px);
	}
	66% {
		transform: translateX(5px);
	}
	to {
		transform: translateX(0);
	}
  }
.pepe-4 {
    width: 370px;
    height: 324px;
    margin-top: 80px;
}
.contract {
    justify-content: center;
}
.contract-link {
    text-align: center;
    font-size: 50px;
    line-height: 51px;
    color: #FFFFFF;
    padding: 24.5px 0;
	opacity: 1 !important;
    text-shadow: 
		-0   -2px 0   #000000,
		 0   -2px 0   #000000,
		-0    2px 0   #000000,
		 0    2px 0   #000000,
		-2px -0   0   #000000,
		 2px -0   0   #000000,
		-2px  0   0   #000000,
		 2px  0   0   #000000,
		-1px -2px 0   #000000,
		 1px -2px 0   #000000,
		-1px  2px 0   #000000,
		 1px  2px 0   #000000,
		-2px -1px 0   #000000,
		 2px -1px 0   #000000,
		-2px  1px 0   #000000,
		 2px  1px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000;
}
.contract-link:hover {
	animation-name: hovlink;	
	animation-duration: .2s;
}
.descr {
	justify-content: center;
}
.descr-text, .marker-text {
    font-size: 25px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    opacity: 0.5;
}
.marker-text {
	cursor: pointer;
}
.marker {
    justify-content: center;
}

.back {
	position: absolute;
	width: 750px;
	height: 750px;
	opacity: 0.07;
	top: 11152px;
    left: 11190px;
	z-index: -1;
}
.back-1 {
    top: -240px;
    left: 450px;
}
.back-2 {
    top: 107px;
    left: 48px;
}
.back-9 {
    top: 318px;
    left: 450px;
}
.back-3 {
    top: 648px;
    left: 39px;
}
.back-4 {
    top: 985px;
    left: 450px;
}
.back-5 {
    top: 1341px;
    left: 39px;
}
.back-6 {
    top: 1636px;
    left: 450px;
}
.back-7 {
    top: 1932px;
    left: 39px;
}
.back-8 {
    top: 2272px;
    left: 450px;
}
.back-10 {
    top: 2634px;
    left: 39px;
}
.back-11 {
    top: 2915px;
    left: 450px;
}
.back-12 {
    top: 3210px;
    left: 39px;
}
a {
	opacity: 0.75;
	transition: all .2s;
}
a:hover {
	opacity: 1;
	color: #653072;
}
a:active {
	opacity: 0.25;
}
.buy-item {
	opacity: 1;
}
.buy-item:hover {
	opacity: 1;
}
.hold {
    position: absolute;
    top: 50px;
    right: -109px;
    width: 250px;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.hold1 {
    position: absolute;
    top: -50px;
    right: -109px;
    width: 250px;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.hold-active {
	animation-name: holder;
	animation-duration: 1s;
	opacity: 1;
}
@keyframes holder {
	from {
	  transform: translateY(20px);
	  opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to {
		transform: translateY(0);
	}
  }
.movement-right {
	position: relative;
}
.x100 {
    position: absolute;
    top: 26px;
    right: -91px;
    width: 250px;
}
.db768 {
	display: none !important;
}
@media (max-width: 1200px) {
    .container {
        padding: 0 45px;
    }
    .header__logo-text {
        font-size: 70px;
        line-height: 71px;
    }
    .header-sub {
        font-size: 27px;
        line-height: 29px;
    }
    section {
        position: relative;
    }
    .right {
        position: absolute;
        width: 400px !important;
        height: auto;
        top: 50%;
        right: -50%;
        margin: 0;
        padding: 0;
        transform: translate(-70%, -50%);
        z-index: 1;
    }
    .left {
        position: relative;
        z-index: 4;
    }
    .pepe-back {
        width: 400px;
        height: auto;
        opacity: 0.25;
		cursor: auto;
    }
	.back {
		display: none;
	}
	.links, .buy {
		margin-right: 0;
	}
}
@media (max-width: 1200px) {
    .header-wrapper {
        justify-content: center;
    }
    .header__menu {
        display: none;
    }
    .header-sub {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .left {
        width: 100%;
    }
    .right {
        transform: translate(-55%, -50%);
    }
	body {
		background: none;
		background: #3A7230;
	}
	.hero-text {
		margin-right: 0;
	}
	.descr {
		justify-content: center;
	} 
	.hold, .x100 {
        display: none;
	}
}
@media (max-width: 768px) {
	.container {
        padding: 0 25px;
    }
	.header__logo-text {
        font-size: 60px;
        line-height: 61px;
    }
	.header-sub {
        font-size: 26px;
        line-height: 27px;
    }
	.buy {
        font-size: 60px;
        line-height: 61px;
    }
	.link__item {
        font-size: 26px;
        line-height: 26px;
    }
	.title {
        font-size: 58px;
        line-height: 59px;
		height: 125px;
    }
	.column-name {
        font-size: 40px;
        line-height: 41px;
    }
	.table-item {
        font-size: 25px;
        line-height: 26px;
    }
    .contact__links-item {
        font-size: 25px;
        line-height: 35px;
    }
    .contract-link {
        font-size: 25px;
        line-height: 26px;
    }
    .descr-text {
        font-size: 20px;
        line-height: 20px;
    }
	.descr-text br {
		display: none;
	}
	.db768 {
		display: block !important;
	}
    .marker-text {
        font-size: 58px;
        line-height: 59px;
    }
	.hero-text {
		font-size: 35px;
		line-height: 36px;
	}
	.buy-fomo {
		display: none;
	}
	.buy-item {
		margin-bottom: 75px;
		margin-right: 0;
	}

}
@media (max-width: 600px) {
	.right {
		transform: translate(0%, -50%);
	}
	.header__logo {
		flex-direction: column;
		align-items: center;
	}
	.header__logo-img {
		margin: 0;
		margin-bottom: 50px;
	}
}
@media (max-width: 568px) {
	.links {
		flex-direction: column;
		align-items: center;
	}
	.link__item {
		padding: 12px 0;
	}
	section {
		margin-bottom: 150px;
	}
	.table {
		overflow-x: scroll;
		gap: 50px;
	}
	.column {
		width: 175px;
	}
	.header-sub {
		font-size: 23px;
		line-height: 24px;
	}
}
@media (max-width: 425px) {
    .container {
        padding: 0 25px;
    }
    .header__logo-text {
        font-size: 50px;
        line-height: 51px;
    }
    .header-sub {
        font-size: 15px;
        line-height: 15px;
    }
	.hero-text {
		font-size: 25px;
		line-height: 26px;
	}
    .buy {
        font-size: 50px;
        line-height: 51px;
    }
    .link__item {
        font-size: 20px;
        line-height: 20px;
    }
    .title {
        font-size: 50px;
        line-height: 51px;
    }
    .about-text {
        font-size: 20px;
        line-height: 20px;
    }
    .column-name {
        font-size: 35px;
        line-height: 36px;
    }
    .table-item {
        font-size: 20px;
        line-height: 20px;
    }
    .contact__links-item {
        font-size: 20px;
        line-height: 35px;
    }
    .contract-link {
        font-size: 20px;
        line-height: 20px;
    }
    .descr-text {
        font-size: 15px;
        line-height: 15px;
		width: 270px;
    }
    .marker-text {
        font-size: 50px;
        line-height: 51px;
    }
	.right {
		right: -90%;
	}

}
@media (max-width: 340px) {
	.dn340 {
		display: none;
	}
}
